.parteA.js
.parteB.js
.quelona.svg
.jefeyasu.svg
.listaseki.svg
.jefen.svg
.orizuru.svg
.orizuru-alas.svg
.orizuru-desdoblada.svg
.index.plantilla.html
.arma.sh

# las partes quedaron obsoletas al editar index.html directamente
.obsoleto*
